{
    "extends": [
        "airbnb",
        "airbnb-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "semi": ["off"],
        "@typescript-eslint/semi": "off",
        "no-unexpected-multiline": "error",
        "@typescript-eslint/lines-between-class-members": "off",
        "class-methods-use-this": "error",
        "arrow-body-style": ["error", "always"],
        "@typescript-eslint/no-unused-vars": "warn",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "radix": "off"
    }
}